<h1>All Mechanics</h1>

<% @mechanics.each do |mechanic| %>
  <div id="index-<%= mechanic.id %>">
  <h2> Name: <%= link_to "#{mechanic.name}", "/mechanics/#{mechanic.id}" %><br>
  Years of Experience: <%= mechanic.years_experience %><br>
  <section id="index-mechanic-<%= mechanic.id %>"><br>
  </section>
<% end %>
<section id="statistics">
    <h3>Statistics</h3>
    Avg Years of Experience: <%= @mechanics.average_years_exp %>
</section>
